 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Start Manifesto
                    Hello World,
                    I'm Georg, a 20 year old, first year computing student originally from Berlin - Germany.  As you would expect, I have a passion for technology and software, more concretely for iOS Development which I have done for almost 2 years now. One of the coolest things of coming to Imperial are the sheer number of events that are run by DocSoc, i.e. bar nights, the IC Hack Hackathon, you name it.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    In my past, I used to do some photography as well, in addition
                    to some scientific competitions. I've showcased some of these
                    as well.
                    </p>
                </div>
            </div>
        </div>
    </section>
