 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Start Manifesto <br><br>
                    Hello World,    <br>
                    I'm Georg, a 20 year old, first year computing student originally from Berlin - Germany.  
                    As you would expect, I have a passion for technology and software, more concretely for iOS Development 
                    which I have done for almost 2 years now. One of the coolest things of coming to Imperial are the sheer 
                    number of events that are run by DocSoc, i.e. bar nights, the IC Hack Hackathon, you name it. <br>

                    Consequently, I decided that I wanted to contribute more to this superduperawesome society as being the webmaster. 
                    Since social media and building up my own web presence are current interests of mine anyway, it seemed only logical 
                    to me to apply for this position.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    So what would I do for you and the society? First of all, keep up the high quality work of the current webmaster's. 
                    Be it blogging about the most recent events, answering next year fresher's worried questions or simply ensuring that 
                    there is a general awareness of DocSoc's next ventures. <br>

                    On top of that I've got some ideas of improving current affairs even more: Amomg these are: Branded DocSoc emails, 
                    instead of just plain texts; a google, iCal, etc. calendar subscription for all the events or a DocSoc newsletter about 
                    hot news in tech industry, maybe even with a special London focus. <br>

                    That's it from me. Now I wan't you to make the next (recursive) step towards absolute greatness of DocSoc and vote for me 
                    as the next Webmaster. <br>
                    End Manifesto

                    </p>
                </div>
            </div>
        </div>
    </section>
