 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Hi i'm Georg, a hobby iOS Developer from Berlin, Germany. 
                    Currently I'm studying Computer Science at Imperial College
                    in London. Have a look at the projects I've been working on. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    In my past, I used to do some photography as well, in addition
                    to some scientific competitions. I've showcased some of these
                    as well.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
